
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="assets/imgs/download.png">
    </ion-card-header>
    <ion-card-content>
      <button ion-button full color="gpsc" (click)="call()">Pay</button>
    </ion-card-content>

  </ion-card>
<!-- <p (click)="call()">Test</p>
<a href="resp">{{ resp }}</a> -->
</ion-content>
